<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professores</title>
</head>
<body>
	<h1>Professores</h1>

	<h2>Formulário para inclusão de Professores</h2>
    <form action="professor/salvar" method="POST">
        <input type="text" name="nome" placeholder="Digite o nome do professor...">
        <input type="text" name="titulacao" placeholder="Digite a titulação do professor...">
        <input type="submit" value="enviar">
    </form>

    <table>
		<tr>
			<td>Id</td>
			<td>Nome</td>
			<td>Titulação</td>
		</tr>
		<% for(let i=0; i<professores.length; i++) {%>
		<tr>
			<td><%= professores[i].idprofessores %></td>
			<td><%= professores[i].nome %></td>
			<td><%= professores[i].titulacao %></td>
			<a href="professores/excluir"><td><button>Excluir professor</button></td></a>

		</tr>
		<% } %>
	</table>
</body>
</html>