<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professores</title>
</head>
<body>
    <h1>Professores</h1>
    <table>
		<tr>
			<td>Id</td>
			<td>Nome</td>
			<td>Titulação</td>
		</tr>
		<% for(let i=0; i<professores.length; i++) {%>
		<tr>
			<td><%= professores[i].idprofessores %></td>
			<td><%= professores[i].nome %></td>
			<td><%= professores[i].titulacao %></td>
		</tr>
		<% } %>
	</table>
</body>
</html>